#formLogin{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}
.inputanLogin{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dark-theme .buttonsAction{
    background-color: white;
    color: black;
}
.light-theme .buttonsAction{
    background-color: #121212;
    color: white;
}
