.dark-theme{
    background-color: #121212;
    color: white;
}

.light-theme{
    background-color: white;
    color: black;
}

#login{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sectionLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    margin: auto;
}
.sectionLogin h2{
    margin-bottom: 20px;
}
.sectionLogin p{
    margin-bottom: 20px;
}