.dark-theme{
    background-color: #121212;
    color: white;
}

.light-theme{
    background-color: white;
    color: black;
}

#Registrasi{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sectionRegis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 100%;
    margin: auto;
}
.sectionRegis h2{
    margin-bottom: 20px;
}
.sectionRegis p{
    margin-bottom: 20px;
}